<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Webseries Task Goya Challenge</title>
  </head>
  <body>
    <h1> Welcome to Goya Bitter Gourd </h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <!-- the enclosed and is content to the form, statement that it sends to the Indicate.Rb (Cgi) -->
    <form action="indicate.cgi" method="POST">
      Please enter the input below<br><br>
      <!-- The information entered in this input will be sent as data with the submit button of submit name='input'-->
      <input type="text" name="input"><br>
      <input type="submit" name="send"> <input type="reset" name="reset">
    </form>
    <!--put the pg library connection information to the goya database in the connection variable -->
    <% result = connection.exec("SELECT * FROM crops WHERE NOT give_for = 'self consumption';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "length：#{record["length"]} weight：#{record["weight"]} quality：#{record["quality"]}　seller：#{record["give_for"]}" %>
    <% end %>
     <form action="goyadb.cgi" method="POST">
       Clich here for info page of bitter gourd crops and seller<br><br>
        <!-- Substitute the data you want to send for value -->
        <!-- Use name="goya" as a landmark for information -->
        <input type="text" name="goyadb" value="<%= data.join(' ') %>">
        <input type="submit" name="send"> <input type="reset" name="reset">
     </form>
     <% result_poor = connection.exec("SELECT * FROM crops WHERE quality = 'false';") %>
     <% data_poor = [] %>
     <% result_poor.each do |record_false| %>
       <%  data_poor << "length：#{record_false["length"]} weight：#{record_false["weight"]} quality：#{record_false["quality"]}　seller：#{record_false["give_for"]}" %>
     <% end %>
    <form action="goyapoor.cgi" method="POST">
       Clich here for  info page of poor quality bitter gourd crops<br><br>
       <!-- Substitute the data you want to send for value -->
       <!-- Use name="goya" as a landmark for information -->
      <input type="text" name="goyapoor" value="<%= data_poor.join(' ') %>">
      <input type="submit" name="send"> <input type="reset" name="reset">
    </form>
    <hr>
    <img src="./goya.png" class="logo_image">
    <footer class="footer">
      <p> Copyright © This info of crops belongs to GOYA Bitter Gourd.</p>
    </footer>
  </body>
</html>
